img{
  max-width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    max-width: 140px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    color: #333;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.item{
  max-width: 30%;
  padding: 3%;
}